---
import fpxHeroScreenshotLight from "@/assets/fpx-hero-screenshot.jpg";
import fpxHeroScreenshotDark from "@/assets/fpx-hero-screenshot-dark.jpg";
import fpLogo from "@/assets/fp-logo.svg?url";
import { Content } from "@/content/landing/index.mdx";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import Bento from "@/components/Bento.astro";
---

<StarlightPage
  hasSidebar={true}
  frontmatter={{
    title: "Fiberplane",
    template: "splash",
    banner: {
      content:
        '<span>🚀 Check out our Hono-Native API <a href="/blog/hono-native-playground/">Playground</a></span>'
    },
    hero: {
      title: "The API playground for Hono",
      image: {
        dark: fpxHeroScreenshotDark,
        light: fpxHeroScreenshotLight,
        alt: "FPX Studio screenshot with auto detected routes"
      },
      tagline:
        "Build, test and explore Hono TypeScript APIs with the power of open standards.",
      actions: [
        {
          text: "Get started",
          link: "docs/get-started",
          icon: "right-arrow",
          variant: "primary"
        }
      ]
    }
  }}
>
  <section class="getting-started hide-sidebar">
    <div>
      <img
        src={fpLogo}
        alt="Fiberplane logo"
        width="100"
        height="100"
        style={{
          marginInline: "auto",
          marginBlockEnd: "2rem"
        }}
      />
    </div>

    <div class="content-grid">
      <div class="cards-content">
        <header>
          <h2>
            The Fiberplane API Playground:<br />From Development to Delivery
          </h2>

          <ul class="card-explanation not-content">
            <li>
              <div>
                <pre>🧙</pre>
              </div>
              <p>
                <em>For the API builder</em> who appreciates designing a high quality
                API with quick debugging and automated features, making it easy for
                users to onboard and experiment.
              </p>
            </li>

            <li>
              <div>
                <pre>🙋</pre>
              </div>
              <p>
                <em>For the API user</em> who are ready to prototype quickly with
                interactive documentation and endpoint testing, in a streamlined
                experience for development.
              </p>
            </li>
          </ul>
        </header>
      </div>

      <Content />
    </div>
  </section>

  <Bento />
</StarlightPage>

<style>
  section.getting-started {
    container: getting-started-container / inline-size;
    max-width: calc(102rem - var(--hero-padding) * 2);
    margin-inline: auto;
    margin-block: 6rem;
  }

  .content-grid {
    --sl-text-h2: clamp(1.5rem, 8cqw, 2.5rem);
    gap: var(--content-spacing);
  }

  .cards-content {
    background-color: var(--bg-secondary);
    padding-inline: var(--sl-content-pad-x);
    padding-block-end: 4rem;
    margin-inline: calc(var(--sl-content-pad-x) * -1);
    background-image: linear-gradient(
      180deg,
      var(--sl-color-bg),
      var(--bg-secondary)
    );

    em {
      font-weight: bold;
    }

    h2 {
      text-align: center;
      margin-block-end: 1em;
    }
  }

  ul.card-explanation {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 1rem;

    li {
      display: grid;
      grid-template-columns: 5rem 1fr;
      gap: var(--sl-content-pad-x);
      padding: 0;
      padding: var(--sl-content-pad-x);
      backdrop-filter: blur(10px);
      border: 1px solid var(--sl-color-hairline-shade);
      border-radius: 20px;

      & > div {
        border-radius: 50%;
        background-color: var(--sl-color-bg);
        box-shadow: 0 0 32px 0
          hsl(from var(--sl-color-hairline-shade) h s l / 0.8);
        border: 1px solid hsl(from var(--sl-color-accent) h s l / 0.5);
        display: grid;
        place-content: center;
        font-size: 3rem;
        line-height: 1;

        aspect-ratio: 1;
        align-self: center;

        pre {
          filter: grayscale(1);
        }
      }
    }
  }

  @container getting-started-container (width >= 64rem) {
    .content-grid {
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

      & > div {
        order: 1;
        min-width: 0;
      }
    }

    .cards-content {
      display: grid;
      background-color: var(--bg-secondary);
      padding: var(--sl-content-pad-x);
      background-image: linear-gradient(
        180deg,
        var(--sl-color-bg),
        var(--bg-secondary)
      );
      margin: 0 auto 1.25rem;
      padding-inline: calc(var(--sl-content-pad-x) * 2);
      border-radius: 20px;
      position: relative;
      min-width: 0;

      & > * {
        z-index: 2;
      }

      header {
        margin-block-end: 1rem;
        position: sticky;
        inset: 6rem 0 2rem 0;
        align-self: center;
        height: fit-content;
        max-width: 100%;

        h2 {
          text-align: left;
        }
      }
    }

    /* Taken from the hero, make reusable */
    .cards-content::before {
      --hero-background-image-size: 2rem;
      --hero-background-image-position: calc(
        var(--hero-background-image-size) / 2
      );

      z-index: 1;
      content: "";
      position: absolute;
      border-radius: 20px;
      inset: 0;
      background-image: radial-gradient(
        hsl(from var(--bg-background) h s l / 0.5) 3px,
        transparent 0
      );
      background-size: var(--hero-background-image-size)
        var(--hero-background-image-size);
      background-position: bottom center;
    }
  }
</style>
