---
import fpxHeroScreenshotLight from "@/assets/fpx-hero-screenshot.jpg";
import fpxHeroScreenshotDark from "@/assets/fpx-hero-screenshot-dark.jpg";
import { Content } from "@/content/landing/index.mdx";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import Bento from "@/components/Bento.astro";
---

<StarlightPage
  hasSidebar={true}
  frontmatter={{
    title: "Fiberplane",
    template: "splash",
    banner: {
      content:
        '<span>🚀 Check out our Hono-Native API <a href="/blog/hono-native-playground/">Playground</a></span>'
    },
    hero: {
      title: "The API playground for Hono",
      image: {
        dark: fpxHeroScreenshotDark,
        light: fpxHeroScreenshotLight,
        alt: "FPX Studio screenshot with auto detected routes"
      },
      tagline:
        "Build, test and explore Hono TypeScript APIs with the power of open standards.",
      actions: [
        {
          text: "Get started",
          link: "docs/get-started",
          icon: "right-arrow",
          variant: "primary"
        }
      ]
    }
  }}
>
  <section class="getting-started hide-sidebar">
    <div class="content-grid">
      <Content />

      <div class="cards-content">
        <header>
          <h2>
            The Fiberplane API Playground:<br />From Development to Delivery
          </h2>

          <p>
            <em>For the API builder</em> who appreciates designing a high quality
            API with quick debugging and automated features, making it easy for users
            to onboard and experiment.
          </p>

          <p>
            <em>For the API user</em> who are ready to prototype quickly with interactive
            documentation and endpoint testing, in a streamlined experience for development.
          </p>
        </header>
      </div>
    </div>
  </section>

  <Bento />
</StarlightPage>

<style>
  section.getting-started {
    container: getting-started-container / inline-size;
    max-width: calc(102rem - var(--hero-padding) * 2);
    margin-inline: auto;
  }

  .content-grid {
    gap: var(--content-spacing);
  }

  .cards-content {
    position: sticky;
    inset: 6rem 0 0 0;
    align-self: center;
    height: fit-content;

    header {
      margin-block-end: 1rem;
    }
  }

  @container getting-started-container (width >= 64rem) {
    .content-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
