---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { getSchema } from "@lib/openApiSchema";
const schema = await getSchema();

if (schema === undefined) {
  return;
}
---

<StarlightPage frontmatter={{ title: "API Reference" }}>
  <ul>
    {
      schema.tags &&
        schema.tags.map((tag) => {
          return (
            <li>
              <a href={"api/" + tag.name.toLowerCase()}>{tag.name}</a>
            </li>
          );
        })
    }
  </ul>
</StarlightPage>
