---
openapi: "3.0.3"
info:
  title: Fiberplane API
  version: "1.0"
servers:
  - url: https://studio.fiberplane.com/
    description: Production servers
  - url: https://{env}.fiberplane.io/
    description: Non-production servers
    variables:
      env:
        default: dev
        description: Environment
components:
  securitySchemes:
    userToken:
      type: http
      scheme: bearer
    serviceToken:
      type: apiKey
      in: header
      name: fp-service-auth-token
      description: JWT used for authentication between services
  schemas:
    empty: {}
    newNotebook:
      type: object
      required:
        - title
        - timeRange
        - cells
      properties:
        title:
          type: string
        timeRange:
          $ref: "#/components/schemas/newTimeRange"
        cells:
          type: array
          items:
            $ref: "#/components/schemas/cell"
        labels:
          type: array
          items:
            $ref: "#/components/schemas/label"
        selectedDataSources:
          $ref: "#/components/schemas/selectedDataSources"
        frontMatter:
          $ref: "#/components/schemas/front_matter"
    notebookCopyDestination:
      type: object
      required:
        - title
        - workspaceId
      properties:
        title:
          type: string
        workspaceId:
          type: string
          format: base64uuid
    cell:
      oneOf:
        - $ref: "#/components/schemas/checkboxCell"
        - $ref: "#/components/schemas/codeCell"
        - $ref: "#/components/schemas/discussionCell"
        - $ref: "#/components/schemas/dividerCell"
        - $ref: "#/components/schemas/graphCell"
        - $ref: "#/components/schemas/headingCell"
        - $ref: "#/components/schemas/imageCell"
        - $ref: "#/components/schemas/listItemCell"
        - $ref: "#/components/schemas/logCell"
        - $ref: "#/components/schemas/providerCell"
        - $ref: "#/components/schemas/tableCell"
        - $ref: "#/components/schemas/textCell"
        - $ref: "#/components/schemas/timelineCell"
      discriminator:
        propertyName: type
        mapping:
          checkbox: "#/components/schemas/checkboxCell"
          code: "#/components/schemas/codeCell"
          discussion: "#/components/schemas/discussionCell"
          divider: "#/components/schemas/dividerCell"
          graph: "#/components/schemas/graphCell"
          heading: "#/components/schemas/headingCell"
          image: "#/components/schemas/imageCell"
          list_item: "#/components/schemas/listItemCell"
          log: "#/components/schemas/logCell"
          provider: "#/components/schemas/providerCell"
          table: "#/components/schemas/tableCell"
          text: "#/components/schemas/textCell"
          timeline: "#/components/schemas/timelineCell"
    cellType:
      type: string
      enum:
        - checkbox
        - code
        - discussion
        - divider
        - graph
        - heading
        - image
        - list_item
        - log
        - provider
        - table
        - text
        - timeline
    checkboxCell:
      type: object
      required:
        - type
        - id
        - checked
        - content
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        checked:
          type: boolean
        content:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
        level:
          type: integer
          format: int32
        readOnly:
          type: boolean
    codeCell:
      type: object
      required:
        - type
        - id
        - content
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        content:
          type: string
        readOnly:
          type: boolean
        syntax:
          type: string
    discussionCell:
      type: object
      required:
        - type
        - id
        - threadId
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        readOnly:
          type: boolean
        threadId:
          type: string
    dividerCell:
      type: object
      required:
        - type
        - id
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        readOnly:
          type: boolean
    graphCell:
      type: object
      required:
        - type
        - id
        - dataLinks
        - graphType
        - stackingType
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        dataLinks:
          type: array
          items:
            type: string
        graphType:
          type: string
          enum:
            - bar
            - line
        readOnly:
          type: boolean
        stackingType:
          type: string
          enum:
            - none
            - stacked
            - percentage
    headingCell:
      type: object
      required:
        - type
        - id
        - headingType
        - content
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        headingType:
          type: string
          enum:
            - h1
            - h2
            - h3
        content:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
        readOnly:
          type: boolean
    listItemCell:
      type: object
      required:
        - type
        - id
        - listType
        - content
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        listType:
          type: string
          enum:
            - ordered
            - unordered
        content:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
        level:
          type: integer
          format: int32
        readOnly:
          type: boolean
        startNumber:
          type: integer
          format: int32
    providerCell:
      type: object
      required:
        - type
        - id
        - intent
        - title
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        intent:
          type: string
        queryData:
          type: string
        response:
          $ref: "#/components/schemas/encodedBlob"
        output:
          type: array
          items:
            $ref: "#/components/schemas/cell"
        title:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
        readOnly:
          type: boolean
    blob:
      type: object
      required:
        - data
        - mimeType
      properties:
        data:
          type: string
          format: binary
        mimeType:
          type: string
    encodedBlob:
      type: object
      required:
        - data
        - mimeType
      properties:
        data:
          type: string
        mimeType:
          type: string
    tableCell:
      type: object
      required:
        - type
        - id
        - rows
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        readOnly:
          type: boolean
        rows:
          type: array
          items:
            $ref: "#/components/schemas/tableRowData"
        columnDefs:
          type: array
          items:
            $ref: "#/components/schemas/tableColumnDefinition"
    tableColumnDefinition:
      type: object
      required:
        - key
        - title
      properties:
        key:
          type: string
        title:
          type: string
    tableCellValue:
      oneOf:
        - $ref: "#/components/schemas/tableCellValueEmpty"
        - $ref: "#/components/schemas/tableCellValueCell"
      discriminator:
        propertyName: type
        mapping:
          empty: "#/components/schemas/tableCellValueEmpty"
          cell: "#/components/schemas/tableCellValueCell"
    tableCellValueEmpty:
      type: object
      required:
        - type
      properties:
        type:
          $ref: "#/components/schemas/tableCellValue"
    tableCellValueCell:
      type: object
      required:
        - type
        - cell
      properties:
        type:
          $ref: "#/components/schemas/tableCellValue"
        cell:
          $ref: "#/components/schemas/cell"
    tableRowData:
      type: object
      additionalProperties:
        $ref: "#/components/schemas/tableCellValue"
    logCell:
      type: object
      required:
        - type
        - id
        - dataLinks
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        dataLinks:
          type: array
          items:
            type: string
        readOnly:
          type: boolean
        hideSimilarValues:
          type: boolean
        displayFields:
          type: array
          items:
            type: string
        expandedIndices:
          type: array
          items:
            $ref: "#/components/schemas/logRecordIndex"
        visibilityFilter:
          $ref: "#/components/schemas/logCellVisibility"
        selectedIndices:
          type: array
          items:
            $ref: "#/components/schemas/logRecordIndex"
        highlightedIndices:
          type: array
          items:
            $ref: "#/components/schemas/logRecordIndex"
    logRecordIndex:
      type: object
      required:
        - linkIndex
        - recordIndex
      properties:
        linkIndex:
          type: number
          format: uint8
        recordIndex:
          type: number
          format: uint32
    textCell:
      type: object
      required:
        - type
        - id
        - content
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        content:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
        readOnly:
          type: boolean
    timelineCell:
      type: object
      required:
        - type
        - id
        - dataLinks
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        id:
          type: string
        dataLinks:
          type: array
          items:
            type: string
        readOnly:
          type: boolean
    imageCell:
      type: object
      required:
        - type
        - id
      properties:
        type:
          $ref: "#/components/schemas/cellType"
        url:
          type: string
          format: uri
        id:
          type: string
        fileId:
          type: string
        progress:
          type: number
          format: float
        readOnly:
          type: boolean
        width:
          type: integer
          format: int32
        height:
          type: integer
          format: int32
        preview:
          type: string
    cellAppendText:
      type: object
      required:
        - content
      properties:
        content:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
    cellReplaceText:
      type: object
      required:
        - offset
        - newText
        - oldText
      properties:
        offset:
          type: integer
          format: int32
        newText:
          type: string
        newFormatting:
          $ref: "#/components/schemas/formatting"
        oldText:
          type: string
        oldFormatting:
          $ref: "#/components/schemas/formatting"
    notebook:
      type: object
      required:
        - id
        - workspaceId
        - revision
        - title
        - cells
        - createdAt
        - createdBy
        - timeRange
        - updatedAt
        - labels
        - selectedDataSources
        - frontMatter
      properties:
        id:
          type: string
        workspaceId:
          type: string
          format: base64uuid
        revision:
          type: integer
        title:
          type: string
        cells:
          type: array
          items:
            $ref: "#/components/schemas/cell"
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: "#/components/schemas/createdBy"
        readOnly:
          type: boolean
        timeRange:
          $ref: "#/components/schemas/timeRange"
        updatedAt:
          type: string
          format: date-time
        visibility:
          $ref: "#/components/schemas/notebookVisibility"
        labels:
          type: array
          items:
            $ref: "#/components/schemas/label"
        selectedDataSources:
          $ref: "#/components/schemas/selectedDataSources"
        frontMatter:
          $ref: "#/components/schemas/front_matter"
    notebookPatch:
      type: object
      properties:
        visibility:
          $ref: "#/components/schemas/notebookVisibility"
    notebookSummary:
      type: object
      required:
        - id
        - workspaceId
        - title
        - createdAt
        - createdBy
        - updatedAt
        - labels
      properties:
        id:
          type: string
        workspaceId:
          type: string
          format: base64uuid
        title:
          type: string
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: "#/components/schemas/createdBy"
        updatedAt:
          type: string
          format: date-time
        visibility:
          $ref: "#/components/schemas/notebookVisibility"
        labels:
          type: array
          items:
            $ref: "#/components/schemas/label"
    logCellVisibility:
      type: string
      enum:
        - all
        - selected
        - highlighted
    notebookVisibility:
      type: string
      enum:
        - public
        - private
    timeRange:
      type: object
      required:
        - from
        - to
      properties:
        from:
          type: string
          format: date-time
        to:
          type: string
          format: date-time
    newTimeRange:
      oneOf:
        - $ref: "#/components/schemas/timeRange"
        - $ref: "#/components/schemas/relativeTimeRange"
    relativeTimeRange:
      type: object
      required:
        - relative
      properties:
        relative:
          type: integer
          format: int32
    formatting:
      type: array
      items:
        $ref: "#/components/schemas/annotation"
    annotation:
      oneOf:
        - $ref: "#/components/schemas/startBoldAnnotation"
        - $ref: "#/components/schemas/endBoldAnnotation"
        - $ref: "#/components/schemas/startCodeAnnotation"
        - $ref: "#/components/schemas/endCodeAnnotation"
        - $ref: "#/components/schemas/startHighlightAnnotation"
        - $ref: "#/components/schemas/endHighlightAnnotation"
        - $ref: "#/components/schemas/startItalicsAnnotation"
        - $ref: "#/components/schemas/endItalicsAnnotation"
        - $ref: "#/components/schemas/startLinkAnnotation"
        - $ref: "#/components/schemas/endLinkAnnotation"
        - $ref: "#/components/schemas/mentionAnnotation"
        - $ref: "#/components/schemas/startStrikethroughAnnotation"
        - $ref: "#/components/schemas/endStrikethroughAnnotation"
        - $ref: "#/components/schemas/startUnderlineAnnotation"
        - $ref: "#/components/schemas/endUnderlineAnnotation"
        - $ref: "#/components/schemas/labelAnnotation"
        - $ref: "#/components/schemas/timestampAnnotation"
      discriminator:
        propertyName: type
        mapping:
          start_bold: "#/components/schemas/startBoldAnnotation"
          end_bold: "#/components/schemas/endBoldAnnotation"
          start_code: "#/components/schemas/startCodeAnnotation"
          end_code: "#/components/schemas/endCodeAnnotation"
          start_highlight: "#/components/schemas/startHighlightAnnotation"
          end_highlight: "#/components/schemas/endHighlightAnnotation"
          start_italics: "#/components/schemas/startItalicsAnnotation"
          end_italics: "#/components/schemas/endItalicsAnnotation"
          start_link: "#/components/schemas/startLinkAnnotation"
          end_link: "#/components/schemas/endLinkAnnotation"
          mention: "#/components/schemas/mentionAnnotation"
          start_strikethrough: "#/components/schemas/startStrikethroughAnnotation"
          end_strikethrough: "#/components/schemas/endStrikethroughAnnotation"
          start_underline: "#/components/schemas/startUnderlineAnnotation"
          end_underline: "#/components/schemas/endUnderlineAnnotation"
          label: "#/components/schemas/labelAnnotation"
          timestamp: "#/components/schemas/timestampAnnotation"
    annotationType:
      type: string
      enum:
        - start_bold
        - end_bold
        - start_code
        - end_code
        - start_highlight
        - end_highlight
        - start_italics
        - end_italics
        - start_link
        - end_link
        - mention
        - timestamp
        - start_strikethrough
        - end_strikethrough
        - start_underline
        - end_underline
    startBoldAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    endBoldAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    startCodeAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    endCodeAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    startHighlightAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    endHighlightAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    startItalicsAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    endItalicsAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    startLinkAnnotation:
      type: object
      required:
        - type
        - offset
        - url
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
        url:
          type: "string"
    endLinkAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    mentionAnnotation:
      type: object
      required:
        - type
        - offset
        - name
        - userId
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
        name:
          type: "string"
        userId:
          type: "string"
    timestampAnnotation:
      type: object
      required:
        - type
        - offset
        - timestamp
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
        timestamp:
          type: string
          format: date-time
    startStrikethroughAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    endStrikethroughAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    startUnderlineAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    endUnderlineAnnotation:
      type: object
      required:
        - type
        - offset
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
    labelAnnotation:
      type: object
      required:
        - type
        - offset
        - key
      properties:
        type:
          $ref: "#/components/schemas/annotationType"
        offset:
          type: integer
          format: int32
        key:
          type: "string"
        value:
          type: "string"
    instant:
      type: object
      required:
        - metric
        - point
      properties:
        metric:
          $ref: "#/components/schemas/metric"
        point:
          $ref: "#/components/schemas/point"
    series:
      type: object
      required:
        - metric
        - points
        - visible
      properties:
        metric:
          $ref: "#/components/schemas/metric"
        points:
          type: array
          items:
            $ref: "#/components/schemas/point"
        visible:
          type: boolean
    metric:
      type: object
      required:
        - name
        - labels
      properties:
        name:
          type: string
        labels:
          type: object
          additionalProperties:
            type: string
    point:
      type: object
      required:
        - timestamp
        - value
      properties:
        timestamp:
          type: number
          format: double
        value:
          type: number
          format: double
    fileSummary:
      type: object
      required:
        - fileId
      properties:
        fileId:
          type: string
    uploadData:
      description: "upload file payload"
      type: object
      required:
        - file
      properties:
        file:
          type: string
          format: binary
    ProfileUploadData:
      description: "upload file payload"
      type: object
      required:
        - picture
      properties:
        picture:
          type: string
          format: binary
    user:
      type: object
      required:
        - "id"
        - "name"
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
    membership:
      type: object
      required:
        - "id"
        - "name"
        - "role"
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        role:
          $ref: "#/components/schemas/auth_role"
    profile:
      type: object
      required:
        - "id"
        - "name"
        - "defaultWorkspaceId"
        - "roles"
      properties:
        id:
          type: string
          format: base64uuid
        name:
          type: string
        defaultWorkspaceId:
          type: string
          format: base64uuid
        email:
          type: string
        roles:
          type: object
          description: "This contains a mapping of the workspace ID and the role that the user has in the workspace"
          additionalProperties:
            $ref: "#/components/schemas/auth_role"
    newPinnedNotebook:
      type: object
      required:
        - notebookId
      properties:
        notebookId:
          type: string
    newProxy:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        description:
          type: string
    proxySummary:
      type: object
      required:
        - id
        - status
        - name
      properties:
        id:
          type: string
        name:
          type: string
        status:
          $ref: "#/components/schemas/proxyConnectionStatus"
    proxy:
      type: object
      required:
        - id
        - status
        - name
        - dataSources
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
        status:
          $ref: "#/components/schemas/proxyConnectionStatus"
        name:
          type: string
        token:
          description: this will only be set when creating a new proxy
          type: string
        dataSources:
          description: data-sources associated with this proxy
          type: array
          items:
            $ref: "#/components/schemas/dataSource"
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    proxyConnectionStatus:
      type: string
      enum:
        - connected
        - disconnected
    dataSourceConnectionStatus:
      type: string
      enum:
        - connected
        - error
    queryType:
      oneOf:
        - $ref: "#/components/schemas/seriesQuery"
        - $ref: "#/components/schemas/instantQuery"
      discriminator:
        propertyName: type
        mapping:
          series: "#/components/schemas/seriesQuery"
          instant: "#/components/schemas/instantQuery"
    seriesQuery:
      type: object
      required:
        - type
        - timeRange
      properties:
        type:
          type: string
        timeRange:
          $ref: "#/components/schemas/timeRange"
    instantQuery:
      type: object
      required:
        - type
        - time
      properties:
        type:
          type: string
        time:
          type: number
          format: double
    newDataSource:
      type: object
      required:
        - name
        - protocolVersion
        - providerType
        - config
      properties:
        name:
          type: string
        protocolVersion:
          type: integer
          format: uint8
        providerType:
          type: string
        config:
          type: object
        description:
          type: string
    updateDataSource:
      type: object
      properties:
        description:
          type: string
        config:
          type: object
    dataSource:
      type: object
      required:
        - name
        - protocolVersion
        - providerType
        - id
      properties:
        id:
          type: string
          format: base64uuid
        name:
          type: string
        protocolVersion:
          type: integer
          format: uint8
        proxyName:
          type: string
        providerType:
          type: string
        config:
          type: object
        description:
          type: string
        status:
          $ref: "#/components/schemas/dataSourceConnectionStatus"
        error:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    selectedDataSource:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        proxyName:
          type: string
    selectedDataSources:
      type: object
      description: This is a mapping from the provider type to the data source selected for that type
      additionalProperties:
        $ref: "#/components/schemas/selectedDataSource"
    template:
      type: object
      required:
        - id
        - name
        - description
        - body
        - parameters
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
        name:
          type: string
          format: name
        description:
          type: string
        body:
          type: string
        parameters:
          type: array
          items:
            $ref: "#/components/schemas/templateParameter"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    templateParameter:
      oneOf:
        - $ref: "#/components/schemas/stringTemplateParameter"
        - $ref: "#/components/schemas/numberTemplateParameter"
        - $ref: "#/components/schemas/booleanTemplateParameter"
        - $ref: "#/components/schemas/objectTemplateParameter"
        - $ref: "#/components/schemas/arrayTemplateParameter"
        - $ref: "#/components/schemas/unknownTemplateParameter"
      discriminator:
        propertyName: type
        mapping:
          string: "#/components/schemas/stringTemplateParameter"
          number: "#/components/schemas/numberTemplateParameter"
          boolean: "#/components/schemas/booleanTemplateParameter"
          object: "#/components/schemas/objectTemplateParameter"
          array: "#/components/schemas/arrayTemplateParameter"
          unknown: "#/components/schemas/unknownTemplateParameter"
    stringTemplateParameter:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          $ref: "#/components/schemas/templateParameterType"
        defaultValue:
          type: string
    numberTemplateParameter:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          $ref: "#/components/schemas/templateParameterType"
        defaultValue:
          type: number
    booleanTemplateParameter:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          $ref: "#/components/schemas/templateParameterType"
        defaultValue:
          type: boolean
    objectTemplateParameter:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          $ref: "#/components/schemas/templateParameterType"
        defaultValue:
          type: object
    arrayTemplateParameter:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          $ref: "#/components/schemas/templateParameterType"
        defaultValue:
          type: array
          items: {}
    unknownTemplateParameter:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
        type:
          $ref: "#/components/schemas/templateParameterType"
    templateParameterType:
      type: string
      enum:
        - string
        - number
        - boolean
        - object
        - array
        - unknown
    templateSummary:
      type: object
      required:
        - id
        - name
        - description
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
        name:
          type: string
          format: name
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    newTemplate:
      type: object
      required:
        - name
        - description
        - body
      properties:
        name:
          type: string
          format: name
        description:
          type: string
        body:
          type: string
    updateTemplate:
      type: object
      properties:
        description:
          type: string
        body:
          type: string
    trigger:
      type: object
      required:
        - id
        - title
        - templateId
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
        title:
          type: string
        templateId:
          type: string
        secretKey:
          type: string
          description: This key must be passed in the URL to invoke the trigger
        defaultArguments:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    triggerSummary:
      type: object
      required:
        - id
        - title
        - templateId
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
        title:
          type: string
        templateId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    newTrigger:
      type: object
      required:
        - title
        - templateName
      properties:
        title:
          type: string
        templateName:
          type: string
          format: name
        defaultArguments:
          type: object
    templateExpandPayload:
      type: object
    triggerInvokeResponse:
      type: object
      required:
        - notebookTitle
        - notebookId
        - notebookUrl
      properties:
        notebookTitle:
          type: string
        notebookId:
          type: string
          format: base64uuid
        notebookUrl:
          type: string
          format: uri
    snippet:
      type: object
      required:
        - id
        - name
        - description
        - body
        - parameters
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: base64uuid
        name:
          type: string
          format: name
        description:
          type: string
        body:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    snippet_summary:
      type: object
      required:
        - id
        - name
        - description
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: base64uuid
        name:
          type: string
          format: name
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    new_snippet:
      type: object
      required:
        - name
        - body
      properties:
        name:
          type: string
          format: name
        description:
          type: string
        body:
          type: string
    update_snippet:
      type: object
      properties:
        description:
          type: string
        body:
          type: string
    createdBy:
      oneOf:
        - $ref: "#/components/schemas/createdByUser"
        - $ref: "#/components/schemas/createdByTrigger"
        - $ref: "#/components/schemas/createdByUnknown"
      discriminator:
        propertyName: type
        mapping:
          user: "#/components/schemas/createdByUser"
          trigger: "#/components/schemas/createdByTrigger"
          unknown: "#/components/schemas/createdByUnknown"
    createdByUser:
      allOf:
        - $ref: "#/components/schemas/userSummary"
    createdByTrigger:
      allOf:
        - $ref: "#/components/schemas/triggerSummary"
    createdByUnknown:
      allOf:
        - $ref: "#/components/schemas/empty"
    label:
      type: object
      required:
        - "key"
        - "value"
      properties:
        key:
          type: string
        value:
          type: string
    notebookSearch:
      properties:
        labels:
          description: |
            Search notebooks based on labels. You can search for an exact label
            match by supplying both an key and a value. You can also search for
            all labels that have a specific key by passing passing a key with a
            null value or a empty string value. The notebook's labels needs to
            match _every_ label search that is provided.
          type: object
          nullable: true
          additionalProperties:
            type: string
            nullable: true
        relativeTime:
          $ref: "#/components/schemas/relativeTime"
        view:
          description: Searches for notebooks using a pre-defined view
          type: string
          format: name
          nullable: true
    newEvent:
      type: object
      required:
        - "title"
      properties:
        title:
          type: string
        labels:
          type: object # Hash Map
          additionalProperties:
            type: string
            nullable: true
        time:
          type: string
          format: date-time
    newToken:
      type: object
      required:
        - "title"
      properties:
        title:
          type: string
    event:
      type: object
      required:
        - "id"
        - "title"
        - "labels"
        - "occurrenceTime"
        - "createdAt"
        - "updatedAt"
      properties:
        id:
          type: string
          format: base64uuid
        title:
          type: string
        labels:
          type: object # Hash Map
          additionalProperties:
            type: string
        occurrenceTime:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    token:
      type: object
      required:
        - "id"
        - "title"
        - "token"
        - "createdAt"
      properties:
        id:
          type: string
          format: base64uuid
        title:
          type: string
        token:
          type: string
          format: password
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    tokenSummary:
      type: object
      required:
        - "id"
        - "title"
        - "createdAt"
      properties:
        id:
          type: string
          format: base64uuid
        title:
          type: string
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    thread:
      type: object
      required:
        - id
        - items
        - status
        - createdBy
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: base64uuid
        items:
          type: array
          items:
            $ref: "#/components/schemas/threadItem"
        status:
          $ref: "#/components/schemas/threadStatus"
        createdBy:
          $ref: "#/components/schemas/userSummary"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    threadStatus:
      type: string
      enum:
        - "open"
        - "resolved"
    threadSummary:
      type: object
      required:
        - id
        - status
        - itemCount
        - createdBy
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: base64uuid
        itemCount:
          type: integer
          format: uint32
        firstItem:
          $ref: "#/components/schemas/threadItem"
        recentItems:
          type: array
          description: Most recent thread items, sorted in chronological order
          items:
            $ref: "#/components/schemas/threadItem"
        status:
          $ref: "#/components/schemas/threadStatus"
        createdBy:
          $ref: "#/components/schemas/userSummary"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    threadItemType:
      type: string
      enum:
        - "comment"
        - "status_change"
        - "comment_delete"
    threadItem:
      oneOf:
        - $ref: "#/components/schemas/commentThreadItem"
        - $ref: "#/components/schemas/statusChangeThreadItem"
        - $ref: "#/components/schemas/commentDeleteThreadItem"
      discriminator:
        propertyName: type
        mapping:
          comment: "#/components/schemas/commentThreadItem"
          status_change: "#/components/schemas/statusChangeThreadItem"
          comment_delete: "#/components/schemas/commentDeleteThreadItem"
    commentThreadItem:
      allOf:
        - $ref: "#/components/schemas/comment"
        - type: object
          required:
            - type
          properties:
            type:
              $ref: "#/components/schemas/threadItemType"
    comment:
      type: object
      required:
        - id
        - createdBy
        - content
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: base64uuid
        content:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
        createdBy:
          $ref: "#/components/schemas/userSummary"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    statusChangeThreadItem:
      type: object
      required:
        - type
        - id
        - createdBy
        - status
        - createdAt
      properties:
        type:
          $ref: "#/components/schemas/threadItemType"
        id:
          type: string
          format: base64uuid
        status:
          $ref: "#/components/schemas/threadStatus"
        createdBy:
          $ref: "#/components/schemas/userSummary"
        createdAt:
          type: string
          format: date-time
    commentDeleteThreadItem:
      type: object
      required:
        - type
        - id
        - createdBy
        - createdAt
        - deletedAt
      properties:
        type:
          $ref: "#/components/schemas/threadItemType"
        id:
          type: string
          format: base64uuid
        createdBy:
          $ref: "#/components/schemas/userSummary"
        createdAt:
          description: Timestamp when the original comment was created
          type: string
          format: date-time
        deletedAt:
          type: string
          format: date-time
    newThread:
      type: object
      properties:
        id:
          type: string
          format: base64uuid
        comment:
          $ref: "#/components/schemas/newComment"
    newComment:
      type: object
      required:
        - content
      properties:
        id:
          type: string
          format: base64uuid
        content:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
    updateComment:
      type: object
      properties:
        content:
          type: string
        formatting:
          $ref: "#/components/schemas/formatting"
    userSummary:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: base64uuid
        name:
          type: string
    workspace:
      type: object
      required:
        - id
        - name
        - displayName
        - type
        - createdAt
        - updatedAt
        - defaultDataSources
        - ownerId
      properties:
        id:
          type: string
          format: base64uuid
        name:
          type: string
          format: name
        displayName:
          type: string
        type:
          type: string
          enum:
            - personal
            - organization
        defaultDataSources:
          $ref: "#/components/schemas/selectedDataSources"
        ownerId:
          type: string
          format: base64uuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    newWorkspaceInvite:
      type: object
      required:
        - email
        - role
      properties:
        email:
          type: string
        role:
          $ref: "#/components/schemas/auth_role"
    newWorkspace:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          format: name
        displayName:
          type: string
        defaultDataSources:
          $ref: "#/components/schemas/selectedDataSources"
    workspace_invite:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          format: base64uuid
        sender:
          type: string
          format: base64uuid
        receiver:
          type: string
        role:
          $ref: "#/components/schemas/auth_role"
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    update_workspace:
      type: object
      properties:
        displayName:
          type: string
        owner:
          type: string
          format: base64uuid
        defaultDataSources:
          $ref: "#/components/schemas/selectedDataSources"
    workspace_invite_response:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: url
    workspace_user_update:
      type: object
      properties:
        role:
          $ref: "#/components/schemas/auth_role"
    auth_role:
      type: string
      enum:
        - read
        - write
        - admin
    view:
      type: object
      required:
        - id
        - name
        - displayName
        - description
        - color
        - labels
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: base64uuid
        name:
          type: string
          format: name
        displayName:
          type: string
        description:
          type: string
        color:
          type: integer
          format: int16
        labels:
          type: array
          items:
            $ref: "#/components/schemas/label"
        relativeTime:
          $ref: "#/components/schemas/relativeTime"
        sortBy:
          type: string
          enum:
            - title
            - created_at
            - updated_at
        sortDirection:
          type: string
          enum:
            - ascending
            - descending
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    new_view:
      type: object
      required:
        - name
        - description
        - color
        - labels
      properties:
        name:
          type: string
          format: name
        displayName:
          type: string
        description:
          type: string
        color:
          type: number
          format: int16
        labels:
          type: array
          items:
            $ref: "#/components/schemas/label"
        relativeTime:
          $ref: "#/components/schemas/relativeTime"
        sortBy:
          type: string
          enum:
            - title
            - created_at
            - updated_at
        sortDirection:
          type: string
          enum:
            - ascending
            - descending
    update_view:
      type: object
      properties:
        displayName:
          type: string
        description:
          type: string
          nullable: true
        color:
          type: number
          format: int16
        labels:
          type: array
          items:
            $ref: "#/components/schemas/label"
        relativeTime:
          $ref: "#/components/schemas/relativeTime"
        sortBy:
          type: string
          nullable: true
          enum:
            - title
            - created_at
            - updated_at
        sortDirection:
          type: string
          nullable: true
          enum:
            - ascending
            - descending
    pinned_view:
      type: object
      properties:
        view_id:
          type: string
          format: base64uuid
    createCellsRequest:
      type: object
      required:
        - response
        - query_type
      properties:
        response:
          $ref: "#/components/schemas/blob"
        query_type:
          type: string
    extractDataRequest:
      type: object
      required:
        - response
        - mime_type
      properties:
        response:
          $ref: "#/components/schemas/blob"
        query:
          type: string
        mime_type:
          type: string
    providerRequest:
      type: object
      required:
        - query_type
        - query_data
        - config
      properties:
        previous_response:
          $ref: "#/components/schemas/blob"
        query_type:
          type: string
        query_data:
          $ref: "#/components/schemas/blob"
        config:
          $ref: "#/components/schemas/providerConfig"
    providerConfig:
      description: "Can be any JSON value (string, number, object, array, ...) including 'null'"
    front_matter:
      type: object
    relativeTime:
      type: object
      required:
        - unit
        - value
      properties:
        unit:
          type: string
          nullable: true
          enum:
            - "seconds"
            - "minutes"
            - "hours"
            - "days"
        value:
          type: number
          nullable: true
          format: int64
  parameters:
    sortDirection:
      in: query
      name: sort_direction
      description: Sort the resulting list in the following direction (defaults to ascending)
      schema:
        type: string
        enum:
          - "ascending"
          - "descending"
      required: false
    page:
      in: query
      name: page
      description: Page number which should be displayed; 0-indexed (defaults to 0)
      schema:
        type: integer
      required: false
    limit:
      in: query
      name: limit
      description: Maximum amount of results to display per page (defaults to 20)
      schema:
        type: integer
      required: false
    notebookId:
      in: path
      name: notebookId
      required: true
      schema:
        type: string
        format: base64uuid
    workspace_id:
      name: workspace_id
      in: path
      description: The workspace ID
      required: true
      schema:
        type: string
        format: base64uuid
    invitation_id:
      name: invitation_id
      in: path
      description: ID of the invitation for which an action should be executed for
      required: true
      schema:
        type: string
        format: base64uuid
    invitation_secret:
      name: invitation_secret
      in: path
      description: Secret key used to verify that the route belongs to a specific email address
      required: true
      schema:
        type: string
    threadId:
      in: path
      name: threadId
      required: true
      schema:
        type: string
        format: base64uuid
    commentId:
      in: path
      name: commentId
      required: true
      schema:
        type: string
        format: base64uuid
    data_source_name:
      in: path
      name: data_source_name
      required: true
      schema:
        type: string
        format: name
    proxy_name:
      in: path
      name: proxy_name
      required: true
      schema:
        type: string
        format: name
    user_id:
      in: path
      name: user_id
      description: User ID
      required: true
      schema:
        type: string
        format: base64uuid
    snippet_name:
      in: path
      name: snippet_name
      description: Name of the snippet
      required: true
      schema:
        type: string
        format: name
    view_name:
      in: path
      name: view_name
      description: Name of the View
      required: true
      schema:
        type: string
        format: name
  responses:
    thread:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/thread"
    comment:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/comment"
# Most routes require authentication. The ones
# that do not will specify "security: []"
security:
  - userToken: []
paths:
  /api/workspaces/{workspace_id}/notebooks:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: notebook_list
      summary: "List all notebooks"
      description: "Retrieves all Notebooks available to the workspace"
      tags:
        - Notebooks
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/notebookSummary"
    post:
      operationId: notebook_create
      summary: "Create a new notebook"
      description: "Create a new notebook"
      tags:
        - Notebooks
      requestBody:
        description: new notebook
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newNotebook"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notebook"
  /api/notebooks/{notebookId}:
    parameters:
      - $ref: "#/components/parameters/notebookId"
    get:
      operationId: notebook_get
      summary: "Retrieve a single notebook"
      description: "Retrieves a single notebook (both its metadata and content)"
      tags:
        - Notebooks
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notebook"
          description: OK
    delete:
      operationId: notebook_delete
      summary: "Deletes a notebook"
      description: "Deletes a notebook"
      tags:
        - Notebooks
      responses:
        "200":
          description: OK
    patch:
      operationId: notebook_update
      summary: "Modifies individual properties of a single notebook"
      description: "Modifies individual properties of a single notebook"
      tags:
        - Notebooks
      requestBody:
        description: updated properties
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/notebookPatch"
      responses:
        "200":
          description: OK
  /api/notebooks/{notebookId}/duplicate:
    parameters:
      - $ref: "#/components/parameters/notebookId"
    post:
      operationId: notebook_duplicate
      summary: "Create a copy of the notebook"
      description: "Creates a copy of the specified notebook"
      tags:
        - Notebooks
      requestBody:
        description: copy destination
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/notebookCopyDestination"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notebook"
  /api/notebooks/{notebookId}/template.jsonnet:
    parameters:
      - $ref: "#/components/parameters/notebookId"
    get:
      operationId: notebook_convert_to_template
      summary: Gets the notebook as a template
      description: Downloads the specified notebooks as a Jsonnet template.
      tags:
        - Notebooks
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
          description: OK
  /api/notebooks/{notebookId}/snippet.jsonnet:
    parameters:
      - $ref: "#/components/parameters/notebookId"
    get:
      operationId: notebook_convert_to_snippet
      summary: Convert selected notebook cells to a snippet
      description: Convert the notebook cells to a snippet
      tags:
        - Notebooks
      parameters:
        - in: query
          name: start_cell_id
          description: Cell ID where the snippet should start
          required: false
          schema:
            type: string
        - in: query
          name: end_cell_id
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
          description: OK
  /api/notebooks/{notebookId}/cells:
    parameters:
      - $ref: "#/components/parameters/notebookId"
    post:
      operationId: notebook_cells_append
      summary: Append cells to Notebook
      description: Append the given cells to the notebook. Any cells that have their ID missing will be set on the server.
      tags:
        - Notebooks
      parameters:
        - in: query
          name: after
          description: Append the provided cells after this cell. If the cell is not found it will return a 400. This parameter cannot be used together with `before`.
          required: false
          schema:
            type: string
        - in: query
          name: before
          description: Append the provided cells before this cell. If the cell is not found it will return a 400. This parameter cannot be used together with `after`.
          required: false
          schema:
            type: string
      requestBody:
        description: |
          The cells that will be appended to the notebook.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/cell"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/cell"
  /api/notebooks/{notebookId}/insert_snippet/{snippet_name}:
    parameters:
      - $ref: "#/components/parameters/notebookId"
      - $ref: "#/components/parameters/snippet_name"
    post:
      operationId: notebook_snippet_insert
      summary: Expand the snippet and insert the cells into the notebook
      description: Expand the snippet and insert the cells into the notebook
      tags:
        - Snippets
      parameters:
        - name: cell_id
          in: query
          description: ID of the cell where the snippet should be inserted
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/cell"
  /api/notebooks/{notebookId}/cells/{cellId}/append:
    parameters:
      - $ref: "#/components/parameters/notebookId"
      - name: cellId
        in: path
        description: ID of the notebook cell
        required: true
        schema:
          type: string
    post:
      operationId: notebook_cell_append_text
      summary: Append text (with formatting) to the specified cell
      description: Append the given text and optional formatting to the specified cell
      tags:
        - Notebooks
      requestBody:
        description: Content and optional formatting to append
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cellAppendText"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cell"
  /api/notebooks/{notebookId}/cells/{cellId}/replaceText:
    parameters:
      - $ref: "#/components/parameters/notebookId"
      - name: cellId
        in: path
        description: ID of the notebook cell
        required: true
        schema:
          type: string
    post:
      operationId: notebook_cell_replace_text
      summary: Replace text and formatting in a cell
      description: Replace some text and formatting in the specified cell
      tags:
        - Notebooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/cellReplaceText"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cell"
  /api/notebooks/{notebookId}/threads:
    parameters:
      - $ref: "#/components/parameters/notebookId"
    post:
      operationId: thread_create
      summary: Create a new comment thread
      description: Creates a new comment thread in a notebook
      tags:
        - Notebooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newThread"
      responses:
        "200":
          $ref: "#/components/responses/thread"
    get:
      operationId: threads_list
      summary: List all the threads in the given notebook
      description: List the threads in the given notebook
      tags:
        - Notebooks
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/threadStatus"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/threadSummary"
  /api/notebooks/{notebookId}/front_matter:
    parameters:
      - $ref: "#/components/parameters/notebookId"
    patch:
      operationId: front_matter_update
      summary: Updates front matter for a given notebook
      description: Updates front matter for a given notebook
      tags:
        - Notebooks
      requestBody:
        description: Front matter object to merge with existing notebook front matter data
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/front_matter"
      responses:
        "200":
          description: OK
    delete:
      operationId: front_matter_delete
      summary: Delete all front matter data for a notebook
      description: |
        Deletes *all* front matter data for notebook. 
        If you wish to delete a single key instead of the whole object, use the `patch` endpoint with value: `null`
      tags:
        - Notebooks
      responses:
        "200":
          description: OK
  /api/workspaces/{workspace_id}/data_sources:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    post:
      operationId: data_source_create
      summary: "Create a workspace data source"
      description: "Creates a workspace data source"
      tags:
        - Workspaces
      requestBody:
        description: New data source
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newDataSource"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dataSource"
    get:
      operationId: data_source_list
      summary: Get all workspace data sources
      description: Get all workspace data sources
      tags:
        - Workspaces
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/dataSource"
  /api/workspaces/{workspace_id}/data_sources/{data_source_name}:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - $ref: "#/components/parameters/data_source_name"
    get:
      operationId: data_source_get
      summary: Get the data source's details
      description: Get the data source's details
      tags:
        - Proxies
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dataSource"
    patch:
      operationId: data_source_update
      summary: Update a data source
      description: Update a data source
      tags:
        - Proxies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateDataSource"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dataSource"
    delete:
      operationId: data_source_delete
      summary: Delete a data source
      description: Delete a data source
      tags:
        - Proxies
      responses:
        "200":
          description: OK
  /api/workspaces/{workspace_id}/proxies:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: proxy_list
      summary: "List all proxies"
      description: "List all proxies"
      tags:
        - Proxies
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/proxySummary"
    post:
      operationId: proxy_create
      summary: "Create a new proxy"
      description: "Create a new proxy"
      tags:
        - Proxies
      requestBody:
        description: new proxy
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newProxy"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy"
  /api/workspaces/{workspace_id}/proxies/{proxy_name}:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - $ref: "#/components/parameters/proxy_name"
    delete:
      operationId: proxy_delete
      summary: "Delete a single proxy"
      description: "Deletes a single proxy"
      tags:
        - Proxies
      responses:
        "200":
          description: OK
    get:
      operationId: proxy_get
      summary: "Retrieve a single proxy"
      description: "Retrieve a single proxy"
      tags:
        - Proxies
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proxy"
  /api/workspaces/{workspace_id}/proxies/{proxy_name}/data_sources/{data_source_name}/relay:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - $ref: "#/components/parameters/proxy_name"
      - $ref: "#/components/parameters/data_source_name"
      - name: provider_protocol_version
        in: query
        required: true
        schema:
          type: string
          enum:
            - "1"
            - "2"
    post:
      operationId: proxy_relay
      summary: "Invoke a provider on remote proxy"
      description: "Relays a query to invoke a provider on a remote proxy"
      tags:
        - Proxies
      deprecated: true
      requestBody:
        description: Message to send to the proxy
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/workspaces/{workspace_id}/proxies/{proxy_name}/data_sources/{data_source_name}/relay/v2/invoke:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - $ref: "#/components/parameters/proxy_name"
      - $ref: "#/components/parameters/data_source_name"
    post:
      operationId: proxy_invoke
      summary: "Invoke a provider on remote proxy"
      description: "Relays a query to invoke a provider on a remote proxy"
      tags:
        - Proxies
      requestBody:
        description: Message to send to the proxy
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
              # TODO: enable schema once we have support in api client generator
              # $ref: "#/components/schema/providerRequest"
      responses:
        "200":
          description: "A msgpack serialized ProviderResponse"
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/workspaces/{workspace_id}/proxies/{proxy_name}/data_sources/{data_source_name}/relay/v2/create_cells:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - $ref: "#/components/parameters/proxy_name"
      - $ref: "#/components/parameters/data_source_name"
    post:
      operationId: proxy_create_cells
      summary: Call `create_cells` from a provider on proxy
      description: "Relay a query to call 'create_cells' from a provider on a remote proxy"
      tags:
        - Proxies
      requestBody:
        description: Message to send to the proxy
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
              # TODO: enable schema once we have support in api client generator
              # $ref: "#/components/schema/createCellsRequest"
      responses:
        "200":
          description: "A msgpack serialized Result<Vec<Cell>, Error>"
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/workspaces/{workspace_id}/proxies/{proxy_name}/data_sources/{data_source_name}/relay/v2/extract_data:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - $ref: "#/components/parameters/proxy_name"
      - $ref: "#/components/parameters/data_source_name"
    post:
      operationId: proxy_extract_data
      summary: "Call `extract_data` from a provider on proxy"
      description: "Relay a query to call 'extract_data' from a provider on a remote proxy"
      tags:
        - Proxies
      requestBody:
        description: Message to send to the proxy
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
              # TODO: enable schema once we have support in api client generator
              # $ref: "#/components/schema/extractDataRequest"
      responses:
        "200":
          description: "A msgpack serialized Result<Blob, Error>"
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/workspaces/{workspace_id}/proxies/{proxy_name}/data_sources/{data_source_name}/relay/v2/supported_query_types:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - $ref: "#/components/parameters/proxy_name"
      - $ref: "#/components/parameters/data_source_name"
    get:
      operationId: proxy_supported_query_types
      summary: "Call `get_supported_query_types` from provider on proxy"
      description: "Relay a query to call 'get_supported_query_types' from a provider on a remote proxy"
      tags:
        - Proxies
      responses:
        "200":
          description: "A msgpack serialized Vec<SupportedQueryType>"
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/workspaces/{workspace_id}/proxies/{proxy_name}/data_sources/{data_source_name}/relay/v2/config_schema:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - $ref: "#/components/parameters/proxy_name"
      - $ref: "#/components/parameters/data_source_name"
    get:
      operationId: proxy_config_schema
      summary: "Call `get_config_schema` from a provider on proxy"
      description: "Relay a query to call 'get_config_schema' from a provider on a remote proxy"
      tags:
        - Proxies
      responses:
        "200":
          description: "A msgpack serialized ConfigSchema"
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/notebooks/{notebookId}/files:
    parameters:
      - $ref: "#/components/parameters/notebookId"
    post:
      operationId: file_upload
      summary: "Upload a file to a notebook"
      description: "upload a file"
      tags:
        - Notebooks
      requestBody:
        description: a file
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/uploadData"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/fileSummary"
  /api/notebooks/{notebookId}/files/{fileId}:
    parameters:
      - $ref: "#/components/parameters/notebookId"
      - name: fileId
        in: path
        description: ID of the file
        required: true
        schema:
          type: string
    delete:
      operationId: file_delete
      summary: "Delete a file from a notebook"
      description: "Delete a file from a notebook"
      tags:
        - Notebooks
      responses:
        "200":
          description: OK
    get:
      operationId: file_get
      summary: "Get a file from a notebook"
      description: "Get a file from a notebook"
      tags:
        - Notebooks
      # images are accessible to anonymous users for public notebooks
      security: []
      responses:
        "200":
          description: OK
          content:
            image/*:
              schema:
                type: string
                format: binary
  /api/profile:
    get:
      operationId: profile_get
      description: "Fetch the profile of the authenticated user"
      tags:
        - Miscellaneous
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/profile"
          description: OK
  /api/profile/picture:
    get:
      operationId: profile_picture_get
      summary: "Retrieve profile image"
      description: "Retrieve profile image"
      tags:
        - Miscellaneous
      # can be unauthenticated
      security: []
      responses:
        "200":
          description: OK
          content:
            image/*:
              schema:
                type: string
                format: binary
    post:
      operationId: profile_picture_update
      summary: "Upload profile image"
      description: "Upload profile image"
      tags:
        - Miscellaneous
      requestBody:
        description: a file
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ProfileUploadData"
      responses:
        "200":
          description: OK
  /api/workspaces/{workspace_id}/pinnednotebooks:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: pinned_notebook_list
      summary: "List all pinned notebooks"
      description: "List all pinned notebooks for a specific workspace"
      tags:
        - Notebooks
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/notebookSummary"
  /api/pinnednotebooks:
    post:
      operationId: pinned_notebook_create
      summary: "Pin a notebook"
      description: "Pins a notebook"
      tags:
        - Notebooks
      requestBody:
        description: new notebook
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newPinnedNotebook"
      responses:
        "200":
          description: OK
  /api/pinnednotebooks/{notebookId}:
    parameters:
      - $ref: "#/components/parameters/notebookId"
    delete:
      operationId: pinned_notebook_delete
      summary: "Unpin a notebook"
      description: "Unpins a notebook"
      tags:
        - Notebooks
      responses:
        "200":
          description: OK
  /api/oidc/authorize/google:
    parameters:
      - name: cli_redirect_port
        in: query
        description: The port on localhost to redirect to after the OAuth flow is successful. Used for authorizing the CLI
        required: false
        schema:
          type: integer
      - name: redirect
        in: query
        description: Relative path to redirect to after the OAuth flow is successful. Used for deep linking into the Studio
        required: false
        schema:
          type: string
    get:
      operationId: oidc_authorize_google
      description: Start the Google OAuth flow to authenticate a user (used only with the Studio) for authenticating with the API see the Authentication section in the docs
      tags:
        - Internal
      responses:
        "307":
          description: Redirect to Google
  /api/logout:
    post:
      operationId: logout
      summary: Log out
      description: Log out of Fiberplane
      tags:
        - Miscellaneous
      responses:
        "200":
          description: OK
  /api/workspaces/{workspace_id}/templates:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    post:
      operationId: template_create
      summary: Create a new template
      description: Create a new template
      tags:
        - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newTemplate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/template"
    get:
      operationId: template_list
      summary: List all templates
      description: Retrieve all the templates that have been uploaded
      tags:
        - Templates
      parameters:
        - in: query
          name: sort_by
          description: Sort the resulting list by the following field (defaults to title)
          schema:
            type: string
            enum:
              - "title"
              - "created_at"
              - "updated_at"
          required: false
        - $ref: "#/components/parameters/sortDirection"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/templateSummary"
  /api/workspaces/{workspace_id}/templates/{templateName}:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - name: templateName
        in: path
        description: Name of the template
        required: true
        schema:
          type: string
          format: name
    get:
      operationId: template_get
      summary: Retrieve a template
      description: Retrieves a specified template
      tags:
        - Templates
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/template"
    patch:
      operationId: template_update
      summary: Update a template
      description: Updates a specified template
      tags:
        - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateTemplate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/template"
    delete:
      operationId: template_delete
      summary: Delete a template
      description: Deletes a specified template
      tags:
        - Templates
      responses:
        "200":
          description: OK
  /api/workspaces/{workspace_id}/templates/{templateName}/expand:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - name: templateName
        in: path
        description: Name of the template
        required: true
        schema:
          type: string
          format: name
    post:
      operationId: template_expand
      summary: Expand the template
      description: Expand the template into a notebook
      tags:
        - Templates
      requestBody:
        description: Parameters to pass to the template
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/templateExpandPayload"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/notebook"
  /api/workspaces/{workspace_id}/snippets:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    post:
      operationId: snippet_create
      summary: Create a new snippet
      description: Create a new snippet
      tags:
        - Snippets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/new_snippet"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/snippet"
    get:
      operationId: snippet_list
      summary: List all snippets
      description: List the snippets that have been uploaded
      tags:
        - Snippets
      parameters:
        - in: query
          name: sort_by
          description: Sort the resulting list by the following field (defaults to title)
          schema:
            type: string
            enum:
              - "title"
              - "created_at"
              - "updated_at"
          required: false
        - $ref: "#/components/parameters/sortDirection"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/snippet_summary"
  /api/workspaces/{workspace_id}/snippets/{snippet_name}:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - $ref: "#/components/parameters/snippet_name"
    get:
      operationId: snippet_get
      summary: Retrieve a snippet
      description: Retrieves a specified snippet from a workspace
      tags:
        - Snippets
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/snippet"
    patch:
      operationId: snippet_update
      summary: Update a snippet
      description: Updates a specified snippet from a workspace
      tags:
        - Snippets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update_snippet"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/snippet"
    delete:
      operationId: snippet_delete
      summary: Delete a snippet
      description: Deletes a specified snippet from a workspace
      tags:
        - Snippets
      responses:
        "200":
          description: OK
  /api/workspaces/{workspace_id}/snippets/{snippet_name}/expand:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - $ref: "#/components/parameters/snippet_name"
    get:
      operationId: snippet_expand
      summary: Expand the snippet
      description: Expand the snippet and return the array of cells (without inserting them into a specific notebook)
      tags:
        - Snippets
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/cell"
  /api/workspaces/{workspace_id}/triggers:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: trigger_list
      summary: List all triggers
      description: List all created triggers in the workspace
      tags:
        - Triggers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/trigger"
    post:
      operationId: trigger_create
      summary: Create a new trigger for a template
      description: Creates a new trigger for a template
      tags:
        - Triggers
      requestBody:
        required: true
        description: Template URL or body
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newTrigger"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trigger"
  /api/triggers/{triggerId}:
    parameters:
      - name: triggerId
        in: path
        description: ID of the trigger
        required: true
        schema:
          type: string
          format: base64uuid
    get:
      operationId: trigger_get
      summary: Retrieve a trigger
      description: Retrieves a trigger from a workspace by its ID
      tags:
        - Triggers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trigger"
    delete:
      operationId: trigger_delete
      summary: Delete a trigger
      description: Deletes a trigger from a workspace by its ID
      tags:
        - Triggers
      responses:
        "200":
          description: OK
  /api/triggers/{triggerId}/{secretKey}:
    parameters:
      - name: triggerId
        in: path
        description: ID of the trigger
        required: true
        schema:
          type: string
          format: base64uuid
      - name: secretKey
        in: path
        description: Secret key of the trigger (included in the response when the trigger is first created)
        required: true
        schema:
          type: string
    post:
      # This does not require normal authentication but uses the secretKey URL parameter
      security: []
      operationId: trigger_invoke
      summary: "Invoke a trigger"
      description: "Invoke a trigger to create a notebook from the associated template"
      tags:
        - Triggers
      requestBody:
        description: Parameters to pass to the template
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/templateExpandPayload"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/triggerInvokeResponse"
  /api/workspaces/{workspace_id}/labels/keys:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: label_keys_list
      summary: Retrieve all label keys
      description: Retrieve all label keys
      tags:
        - Labels
      parameters:
        - name: prefix
          in: query
          description: Prefix of the label key
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /api/workspaces/{workspace_id}/labels/values/{label_key}:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
      - name: label_key
        in: path
        description: The label key
        required: true
        schema:
          type: string
    get:
      operationId: label_values_list
      summary: Retrieve all label values
      description: Retrieve all label values
      tags:
        - Labels
      parameters:
        - name: prefix
          in: query
          description: Prefix of the label value
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /api/workspaces/{workspace_id}/search/notebooks:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    post:
      operationId: notebook_search
      summary: Search notebooks
      description: Search for notebooks
      tags:
        - Notebooks
      parameters:
        - in: query
          name: sort_by
          description: Sort the resulting list by the following field (defaults to created_at)
          schema:
            type: string
            enum:
              - "title"
              - "created_at"
              - "updated_at"
          required: false
        - $ref: "#/components/parameters/sortDirection"
      requestBody:
        required: true
        description: Notebook search payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/notebookSearch"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/notebookSummary"
  /api/workspaces/{workspace_id}/events:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: event_list
      summary: Retrieve all events matching the query
      description: Get a list of all events matching the query
      tags:
        - Events
      parameters:
        - in: query
          name: occurrence_time_start
          required: true
          schema:
            type: string
            format: date-time
        - in: query
          name: occurrence_time_end
          required: true
          schema:
            type: string
            format: date-time
        - in: query
          name: labels
          schema:
            type: object
            nullable: true
            additionalProperties:
              type: string
        - in: query
          name: sort_by
          description: Sort the resulting list by the following field (defaults to occurrence_time)
          schema:
            type: string
            enum:
              - "title"
              - "occurrence_time"
              - "created_at"
              - "updated_at"
          required: false
        - $ref: "#/components/parameters/sortDirection"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/event"
    post:
      operationId: event_create
      summary: Creates a new event
      description: Creates a new event
      tags:
        - Events
      requestBody:
        required: true
        description: Event creation payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newEvent"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/event"
  /api/events/{event_id}:
    parameters:
      - name: event_id
        in: path
        description: ID of the event
        required: true
        schema:
          type: string
          format: base64uuid
    delete:
      operationId: event_delete
      summary: Delete a event
      description: Deletes a event
      tags:
        - Events
      responses:
        "200":
          description: OK
  /api/tokens:
    get:
      operationId: token_list
      summary: Retrieve all API tokens
      description: Retrieves a list of all API tokens
      tags:
        - Authentication
      parameters:
        - in: query
          name: sort_by
          description: Sort the resulting list by the following field (defaults to title)
          schema:
            type: string
            enum:
              - "title"
              - "created_at"
              - "expires_at"
          required: false
        - $ref: "#/components/parameters/sortDirection"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/tokenSummary"
    post:
      operationId: token_create
      summary: Create a new API token
      description: Creates a new token
      tags:
        - Authentication
      requestBody:
        required: true
        description: Token creation payload
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newToken"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/token"
  /api/tokens/{id}:
    parameters:
      - name: id
        in: path
        description: |
          ID of the token which should be deleted

          # Deleting current token

          If you want to delete the token with which you sent the request, call `/api/logout` instead.
        required: true
        schema:
          type: string
          format: base64uuid
    delete:
      operationId: token_delete
      summary: "Delete an API token"
      description: Deletes a token
      tags:
        - Authentication
      responses:
        "200":
          description: OK
  /api/threads/{threadId}:
    parameters:
      - $ref: "#/components/parameters/threadId"
    get:
      operationId: thread_get
      summary: Retrieve a discussion thread
      description: Retrieves a discussion thread by ID
      tags:
        - Threads
      responses:
        "200":
          $ref: "#/components/responses/thread"
    delete:
      operationId: thread_delete
      summary: Delete a discussion thread
      description: Deletes a discussion thread by ID
      tags:
        - Threads
      responses:
        "200":
          description: OK
  /api/threads/{threadId}/resolve:
    parameters:
      - $ref: "#/components/parameters/threadId"
    post:
      operationId: thread_resolve
      summary: Resolve a discussion thread
      description: Resolves a discussion thread by ID
      tags:
        - Threads
      responses:
        "200":
          $ref: "#/components/responses/thread"
  /api/threads/{threadId}/reopen:
    parameters:
      - $ref: "#/components/parameters/threadId"
    post:
      operationId: thread_reopen
      summary: Reopen a discussion thread
      description: Reopens a discussion thread by ID
      tags:
        - Threads
      responses:
        "200":
          $ref: "#/components/responses/thread"
  /api/threads/{threadId}/comments:
    parameters:
      - $ref: "#/components/parameters/threadId"
    post:
      operationId: comment_create
      summary: Create a comment
      description: Creates a comment in a discussion thread by ID
      tags:
        - Threads
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/newComment"
      responses:
        "200":
          $ref: "#/components/responses/comment"
  /api/comments/{commentId}:
    parameters:
      - $ref: "#/components/parameters/commentId"
    get:
      operationId: comment_get
      summary: Retrieve a comment
      description: Retrieves a comment from a discussion thread by comment ID
      tags:
        - Threads
      responses:
        "200":
          $ref: "#/components/responses/comment"
    patch:
      operationId: comment_update
      summary: Update a comment
      description: Updates a comment in a discussion thread by comment ID
      tags:
        - Threads
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateComment"
      responses:
        "200":
          $ref: "#/components/responses/comment"
    delete:
      operationId: comment_delete
      summary: Delete a comment
      description: Deletes a comment in a discussion thread by comment ID
      tags:
        - Threads
      responses:
        "200":
          description: OK
  /api/workspaces/{workspace_id}/users:
    parameters:
      - $ref: "#/components/parameters/workspace_id"
    get:
      operationId: workspace_users_list
      summary: List all users
      description: List all users for a workspace
      tags:
        - Workspaces
      parameters:
        - in: query
          name: sort_by
          description: Sort the resulting list by the following field (defaults to id)
          schema:
            type: string
            enum:
              - "name"
              - "email"
              - "joined_at"
          required: false
        - $ref: "#/components/parameters/sortDirection"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/membership"
  /api/workspaces:
    get:
      operationId: workspace_list
      summary: List all workspaces
      description: List all workspaces authenticated user has access to
      tags:
        - Workspaces
      parameters:
        - in: query
          name: sort_by
          description: Sort the resulting list by the following field (defaults to id)
          schema:
            type: string
            enum:
              - "name"
              - "type"
              - "joined_at"
          required: false
        - $ref: "#/components/parameters/sortDirection"
      responses:
        "200":
[...]
